*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    background-color: aqua;   
    
}
.container-topo{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    
}

.link-menu{
    padding: 0 1em;
    text-decoration: none;    
    color: #fff;
}
.container-banner{
    width: 100%;
    height: 100vh;
    background-image: url("assets/recepcao.png");
    background-size: cover;
    
}
.secao-banner-titulo{
    padding-top: 16%;
    width: 50%;    
    text-transform: uppercase;
    font-size: 25px;
    text-align: left;
    padding-left: 10%;
    color: #fff;
}
#sobre{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-sobre{       
    text-align: center;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 20%;
    padding-top: 2em;
}
.container-sobre h3, .container-sobre-lista h3{    
    font-size: 24px
}
.container-sobre p{
    font-size: 20px;
}
.container-sobre-lista{
    padding-top: 2em ;    
    text-align: center;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: space-evenly;
    height:100%;
}

.container-sobre-lista::before{
    position: absolute;
    content:'';
    background-image: url('assets/medico.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 10%;
    height: 25%;
    left: 22%;
    
}
.container-card-link{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
}
.container-card-titulo{
    text-align: center;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
}

.container-cards{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0% 10%;
}
.cards{
    margin: 0 1%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 6px  black;
    text-transform: uppercase;
}
.cards img{
    
    width: 100%;
    height: 100%;
    
}

.container-botao-link{
    text-align: center;
}

.card-link{
    background-color: aqua;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1.5em;
}

#contato{
    margin-top: 2em;
    text-align: center;
}
.contato-titulo{
    padding: 1em 0;
}
.contato-texto p{
    padding: 0.2em 0;
}

.contato-localizacao iframe{
    width: 100%;
    padding: 1% 10%;
}
footer{
    text-align: center;
    background-color: aquamarine;
}
footer img{
    width: 10%;
}

@media only screen and (max-width: 425px){
    *{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;        
        font-family: 'Source Sans Pro', sans-serif;
    }
    body{
        width: 100%;
        font-size: 12px;
        text-align: justify;
    }
    header{
        width: 100%;
    }
    .container-topo img{
        width: 30%;
    }
   
    .container-topo{
        width: 100vw;
        display: flex;
        flex-direction: column;
      margin-left: 0;
        
        
    }

    .link-menu{
        padding: 0 10px;
        text-decoration: none;    
        color: #fff;
    }
    .nav-menu-topo{
        text-align: center;
        width: 100%;
        border-top: #000203 solid 1%;
        
    }
    .container-banner{
        width: 100%;
        height: 200px;
        box-sizing: border-box;
        background-image: url("assets/recepcao.png");        
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .secao-banner-titulo{
        padding-top: 16%;
        width: 100%;
        height: 100%;   
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
        color: #fff;
        text-shadow: #000203 1px 2px 3px;
        
        
    }   

    #sobre{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    .container-sobre{       
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        
        
    }
    .container-sobre h3, .container-sobre-lista h3{    
        font-size: 16px
    }
    .container-sobre p{
        font-size: 12px;
        text-align: justify;
    }
    .container-sobre-lista{
        padding-top: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: start;  
             
    }
    .container-sobre-lista::before{
        display: none;
        
    }
    .container-sobre-lista h3{
        padding: 10px 0;
    }
    .container-sobre-lista li{
        font-size: 12px;
        text-align: justify;
        list-style: none;
    }
    #especialidades{
        width: 100%;
        height: 100%;
    }
    .container-card-link{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 2em 0;
        font-size: 12px;
    }
    .container-card-titulo{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        

    }
    .container-card-titulo p{
        font-size: 12px;
        text-align: justify;
        padding: 2em 0;
    }
    .container-card-titulo h3{
        font-size: 14px;
        text-align: center;
        
    }

    .cards span{        
        font-size: 8px;        
    }
    .container-cards{
        
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0% 20%;
    }
    .cards{
        width: 80px;
        height: 100px;
        margin: 0 2px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        box-shadow: 3px 3px 6px  black;
        text-transform: uppercase;
        border-radius: 5px;
    }
    .cards img{
        
        width: 100%;
        height: 100%;
        
    }
    
    .container-botao-link{
        text-align: center;
        padding: 20px 0;
    }
    
    .card-link{
       font-size: 12px;
        background-color: aqua;
        color: #fff;
        text-decoration: none;
        padding: 0.5em 1.5em;
    }
    #contato{
        margin-top: -2px;
        text-align: center;
        margin: 0 20%;
    }
    .contato-titulo{
        padding: 1em 0;
    }
    .contato-titulo h3{
        font-size: 14px;
    }
    .contato-texto p{
        padding: 0.2em 0;
    }
    .contato-texto p, strong{
        font-size: 12px;
        text-align: justify;
    }
    strong{
        font-size: 12px;
        color: red
    }
    
    .contato-localizacao iframe{
        width: 100%;
        height: 50%;
        padding: 2em 0;
        border-radius: 5px;
       
    }
    footer{
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: aquamarine;
    
    }
    footer img{
        width: 10%;
    }
    footer p{
        font-size: 12px;
        text-align: center;
        margin: 0 20%;
    }
}
    

    
    



    

